{% extends "base_dash.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Completar registro{% endblock %}

{% block content %}


<h6 class="text-uppercase">Linear Stepper</h6>
<hr>
<div id="stepper1" class="bs-stepper">
<div class="card">
  
  <div class="card-header">
    <div class="d-lg-flex flex-lg-row align-items-lg-center justify-content-lg-between" role="tablist">
      <div class="step" data-target="#test-nl-1">
      <div class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-nl-1">
        <div class="bs-stepper-circle"><i class='bx bx-user fs-4'></i></div>
        <div class="">
          <h5 class="mb-0 steper-title">Cuenta de usuario</h5>
          <p class="mb-0 steper-sub-title">Información de usuario</p>
        </div>
      </div>
      </div>
      <div class="bs-stepper-line"></div>
      <div class="step" data-target="#test-nl-2">
        <div class="step-trigger" role="tab" id="stepper1trigger2" aria-controls="test-nl-2">
        <div class="bs-stepper-circle"><i class='bx bx-file fs-4'></i></div>
        <div class="">
          <h5 class="mb-0 steper-title">Persona natural</h5>
          <p class="mb-0 steper-sub-title">información personal fiscal</p>
        </div>
        </div>
      </div>
      <div class="bs-stepper-line"></div>
      <div class="step" data-target="#test-nl-3">
        <div class="step-trigger" role="tab" id="stepper1trigger3" aria-controls="test-nl-3">
        <div class="bs-stepper-circle"><i class='bx bxs-graduation fs-4'></i></div>
        <div class="">
          <h5 class="mb-0 steper-title">Persona jurídica </h5>
          <p class="mb-0 steper-sub-title">información personal fiscal</p>
        </div>
        </div>
      </div>
      <div class="bs-stepper-line"></div>
        <div class="step" data-target="#test-nl-4">
          <div class="step-trigger" role="tab" id="stepper1trigger4" aria-controls="test-nl-4">
          <div class="bs-stepper-circle"><i class='bx bx-briefcase fs-4'></i></div>
          <div class="">
            <h5 class="mb-0 steper-title">Actividades culturales</h5>
            <p class="mb-0 steper-sub-title">Descripciónn actividades</p>
          </div>
          </div>
        </div>
    </div>
  </div>
  <div class="card-body">
  
  <div class="bs-stepper-content">
    <form onSubmit="return false">
      {% csrf_token %}
      {{ user_form.non_field_errors }}
      {{ user_form.source.errors }}
      {{ user_form.source }}
    <div id="test-nl-1" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper2trigger1">
      <h5 class="mb-1">Información personal</h5>
      <p class="mb-4">Complete el siguiente formulario para completar su registro.</p>

      <div class="row g-3">
        <div class="col-12 col-lg-6">
          <label for="username" class="form-label">{{ user_form.first_name.label_tag }}</label>
          {{ user_form.name.errors }}
          {{ user_form.name }}
          <input type="text" class="form-control" id="username"  placeholder= {{ user_form.first_name }} 
        </div>
        <div class="col-12 col-lg-6">
          <label for="LastName" class="form-label">{{ user_form.username.label_tag }}</label>
          <input type="text" class="form-control" id="LastName" placeholder={{ user_form.username}}
        </div>
        <div class="col-12 col-lg-6">
          <label for="FirstName" class="form-label"> {{ user_form.last_name.label_tag }}</label>
          <input type="text" class="form-control" id="PhoneNumber" placeholder={{ user_form.last_name }}
        </div>
        <div class="col-12 col-lg-6">
          <label for="InputEmail" class="form-label">{{ user_form.email.label_tag }}</label>
          <input type="text" class="form-control" id="InputEmail" placeholder={{ user_form.email }}
        </div>
        <div class="col-12 col-lg-6">
          <label for="InputEmail" class="form-label">{{ profile_form.photo.label_tag }}</label>
          <input type="text" class="form-control" id="InputEmail" placeholder={{ profile_form.photo }}
        </div>
        <div class="col-12 col-lg-6">
          <label for="InputEmail" class="form-label">{{ profile_form.photo.label_tag }}</label>
          <input type="text" class="form-control" id="InputEmail" placeholder={{ profile_form.photo }}
        </div>


        <div class="col-12 col-lg-6">
          <button class="btn btn-primary px-4" onclick="stepper1.next()">Next<i class='bx bx-right-arrow-alt ms-2'></i></button>
        </div>
      </div><!---end row-->
      
    </div>

    <div id="test-nl-2" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper2trigger2">

      <h5 class="mb-1">Account Details</h5>
      <p class="mb-4">Enter Your Account Details.</p>

      <div class="row g-3">
        <div class="col-12 col-lg-6">
          <label for="InputUsername" class="form-label">{{ profile_form.date_of_birth.label_tag }}</label>
          <input type="text" class="form-control" id="InputUsername" placeholder="jhon@123">
        </div>
        <div class="col-12 col-lg-6">
          <label for="InputEmail2" class="form-label">E-mail Address</label>
          <input type="text" class="form-control" id="InputEmail2" placeholder="example@xyz.com">
        </div>
        <div class="col-12 col-lg-6">
          <label for="InputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="InputPassword" value="12345678">
        </div>
        <div class="col-12 col-lg-6">
          <label for="InputConfirmPassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="InputConfirmPassword" value="12345678">
        </div>
        <div class="col-12">
          <div class="d-flex align-items-center gap-3">
            <button class="btn btn-outline-secondary px-4" onclick="stepper1.previous()"><i class='bx bx-left-arrow-alt me-2'></i>Previous</button>
            <button class="btn btn-primary px-4" onclick="stepper1.next()">Next<i class='bx bx-right-arrow-alt ms-2'></i></button>
          </div>
        </div>
      </div><!---end row-->
      
    </div>

    <div id="test-nl-3" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper2trigger3">
      <h5 class="mb-1">Your Education Information</h5>
      <p class="mb-4">Inform companies about your education life</p>

      <div class="row g-3">
        <div class="col-12 col-lg-6">
          <label for="SchoolName" class="form-label">School Name</label>
          <input type="text" class="form-control" id="SchoolName" placeholder="School Name">
        </div>
        <div class="col-12 col-lg-6">
          <label for="BoardName" class="form-label">Board Name</label>
          <input type="text" class="form-control" id="BoardName" placeholder="Board Name">
        </div>
        <div class="col-12 col-lg-6">
          <label for="UniversityName" class="form-label">University Name</label>
          <input type="text" class="form-control" id="UniversityName" placeholder="University Name">
        </div>
        <div class="col-12 col-lg-6">
          <label for="InputCountry" class="form-label">Course Name</label>
          <select class="form-select" id="InputCountry" aria-label="Default select example">
            <option selected>---</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-12">
          <div class="d-flex align-items-center gap-3">
            <button class="btn btn-outline-secondary px-4" onclick="stepper1.previous()"><i class='bx bx-left-arrow-alt me-2'></i>Previous</button>
            <button class="btn btn-primary px-4" onclick="stepper1.next()">Next<i class='bx bx-right-arrow-alt ms-2'></i></button>
          </div>
        </div>
      </div><!---end row-->
      
    </div>

    <div id="test-nl-4" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper2trigger4">
      <h5 class="mb-1">Work Experiences</h5>
      <p class="mb-4">Can you talk about your past work experience?</p>

      <div class="row g-3">
        <div class="col-12 col-lg-6">
          <label for="Experience1" class="form-label">Experience 1</label>
          <input type="text" class="form-control" id="Experience1" placeholder="Experience 1">
        </div>
        <div class="col-12 col-lg-6">
          <label for="Position1" class="form-label">Position</label>
          <input type="text" class="form-control" id="Position1" placeholder="Position">
        </div>
        <div class="col-12 col-lg-6">
          <label for="Experience2" class="form-label">Experience 2</label>
          <input type="text" class="form-control" id="Experience2" placeholder="Experience 2">
        </div>
        <div class="col-12 col-lg-6">
          <label for="PhoneNumber" class="form-label">Position</label>
          <input type="text" class="form-control" id="PhoneNumber" placeholder="Position">
        </div>
        <div class="col-12 col-lg-6">
          <label for="Experience3" class="form-label">Experience 3</label>
          <input type="text" class="form-control" id="Experience3" placeholder="Experience 3">
        </div>
        <div class="col-12 col-lg-6">
          <label for="PhoneNumber" class="form-label">Position</label>
          <input type="text" class="form-control" id="PhoneNumber" placeholder="Position">
        </div>
        <div class="col-12">
          <div class="d-flex align-items-center gap-3">
            <button class="btn btn-primary px-4" onclick="stepper1.previous()"><i class='bx bx-left-arrow-alt me-2'></i>Previous</button>
            <button class="btn btn-success px-4" onclick="stepper1.next()">Submit</button>
          </div>
        </div>
      </div><!---end row-->
      
    </div>
    </form>
  </div>
   
  </div>
 </div>
 </div>
  

   

<a href="javaScript:;" class="back-to-top"><ion-icon name="arrow-up-outline"></ion-icon></a>

<script>
  function submitForm() {
      // Realizar validaciones de formulario si es necesario
      // Por ejemplo:
      // if (!validateForm()) {
      //     return false;
      // }

      // Si las validaciones son exitosas, procede a enviar el formulario
      document.querySelector('form').submit();
  }
</script>


{% endblock %}