{% extends "base_reg.html" %}

{% block title %}Bienvenido {% endblock %}

{% block content %}

<div class="row">
  <div class="col-xl-4 col-lg-5 col-md-7 mx-auto mt-5">
    <div class="card radius-10">
      <div class="card-body p-4">
        <div class="text-center">
          <h2>Bienvenid@ {{ new_user.first_name }}! a la plataforma de postulaciones de la línea de fomento  editorial & literaria de la Secretaria de cultura.</h2>
          <p>Su cuenta ha sido creada con exito. Puede <a href="{% url "login" %}">ingresar</a> ahora con su nombre usuario y contraseña y realizar el procesos de postulación a las distintas convocatorias activas.</p>
         
        </div>
  
      </div>
    </div>
  </div>
</div>


  
{% endblock %}