{% extends "base_reg.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Create an account{% endblock %}

{% block content %}



<div class="row">
  <div class="col-xl-4 col-lg-5 col-md-7 mx-auto mt-5">
    <div class="card radius-10">
      <div class="card-body p-4">
        <div class="text-center">
          <h4>Registro </h4>
          <p>Convocatorias líneas de fomento editorial & literaria</p>
        </div>
        <div class="col-12 col-lg-12">
        <form action="." method="post" class="form-body row g-3" >
          {% for hidden_field in user_form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    {% if user_form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
      {% for error in user_form.non_field_errors %}
        {{ error }}
      {% endfor %}
      </div>
    {% endif %}

    {% for field in user_form.visible_fields %}
      <div class="form-group">
      <div class="group">
      <label for="user" class="label">{{ field.label_tag }}</label>


      {% if user_form.is_bound %}
        {% if field.errors %}
        {% render_field field class="form-control is-invalid input" %}
        {% for error in field.errors %}
          <div class="invalid-feedback">
          {{ error }}
          </div>
        {% endfor %}
        {% else %}
        {% render_field field class="form-control is-valid " %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control input" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
      </div>
    {% endfor %}
          {% csrf_token %}
        </form>
        <p>

        </p>
        <div class="col-12 col-lg-12">
          <div class="d-grid">
<p></p>
        <button type="submit" value="Create my account" class="btn btn-primary">Registrarse</button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
 
{% endblock %}