{% load static %}
{% load widget_tweaks %}
    
    
    <aside class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
          <div>
            <img src="assets/images/logo-icon-2.png" class="logo-icon" alt="logo icon">
          </div>
          <div>
            <h4 class="logo-text">QuitoCultura  </h4>
          </div>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
          <li>
            <a href="index.html">
              <div class="parent-icon">
                <ion-icon name="home-outline"></ion-icon>
              </div>
              <div class="menu-title">Inicio</div>
            </a>
          </li> 
          <li>
            <ul>
              <li><a href="ecommerce-shop-grid-view.html">
                  <ion-icon name="ellipse-outline"></ion-icon>Product Grid
                </a>
              </li>
              <li><a href="ecommerce-shop-list-view.html">
                  <ion-icon name="ellipse-outline"></ion-icon>Product List
                </a>
              </li>
              <li><a href="ecommerce-shop-grid-view-top-filter.html">
                  <ion-icon name="ellipse-outline"></ion-icon>Product Top Filters
                </a>
              </li>
              <li><a href="ecommerce-product-details.html">
                  <ion-icon name="ellipse-outline"></ion-icon>Product Details
                </a>
              </li>
              <li><a href="ecommerce-product-comparison.html">
                  <ion-icon name="ellipse-outline"></ion-icon>Product Comparison
                </a>
              </li>
              <li><a href="ecommerce-shop-cart.html">
                  <ion-icon name="ellipse-outline"></ion-icon>Shoping Cart
                </a>
              </li>
              <li><a href="ecommerce-checkout-details.html">
                  <ion-icon name="ellipse-outline"></ion-icon>Checkout
                </a>
              </li>
              <li><a href="ecommerce-checkout-shipping.html">
                  <ion-icon name="ellipse-outline"></ion-icon>Shipping
                </a>
              </li>
              <li><a href="ecommerce-checkout-payment.html">
                  <ion-icon name="ellipse-outline"></ion-icon>Payment
                </a>
              </li>
              <li><a href="ecommerce-checkout-review.html">
                  <ion-icon name="ellipse-outline"></ion-icon>Review Cart
                </a>
              </li>
              <li><a href="ecommerce-checkout-complete.html">
                  <ion-icon name="ellipse-outline"></ion-icon>Order Complete
                </a>
              </li>
            </ul>
          </li>
          <li class="menu-label">Creación de convocatorias</li>
          <li>
            <a href="pages-user-profile.html">
              <div class="parent-icon">
                <ion-icon name="person-circle-outline"></ion-icon>
              </div>
              <div class="menu-title">User Profile</div>
            </a>
          </li>
          <li>
            <a href="pages-edit-profile.html">
              <div class="parent-icon">
                <ion-icon name="create-outline"></ion-icon>
              </div>
              <div class="menu-title">Edit Profile</div>
            </a>
          </li>
          <li>
            <a href="pages-invoices.html">
              <div class="parent-icon">
                <ion-icon name="receipt-outline"></ion-icon>
              </div>
              <div class="menu-title">Invoice</div>
            </a>
          </li>
          <li>
            <a href="pages-to-do.html">
              <div class="parent-icon">
                <ion-icon name="shield-checkmark-outline"></ion-icon>
              </div>
              <div class="menu-title">Invoice</div>
            </a>
          </li>
     

          <li class="menu-label">Postulación a convocatorias</li>
          <li>
            <li>
              <a href="pages-user-profile.html">
                <div class="parent-icon">
                  <ion-icon name="person-circle-outline"></ion-icon>
                </div>
                <div class="menu-title">User Profile</div>
              </a>
            </li>
            <li>
              <a href="pages-edit-profile.html">
                <div class="parent-icon">
                  <ion-icon name="create-outline"></ion-icon>
                </div>
                <div class="menu-title">Edit Profile</div>
              </a>
            </li>
            <li>
              <a href="pages-invoices.html">
                <div class="parent-icon">
                  <ion-icon name="receipt-outline"></ion-icon>
                </div>
                <div class="menu-title">Invoice</div>
              </a>
            </li>
            <li>
              <a href="pages-to-do.html">
                <div class="parent-icon">
                  <ion-icon name="shield-checkmark-outline"></ion-icon>
                </div>
                <div class="menu-title">Invoice</div>
              </a>
            </li>
          </li>
          <li>
            <a class="has-arrow" href="javascript:;">
              <div class="parent-icon">
                <ion-icon name="server-outline"></ion-icon>
              </div>
              <div class="menu-title">Tables</div>
            </a>
            <ul>
              <li> <a href="table-basic-table.html">
                  <ion-icon name="ellipse-outline"></ion-icon>Basic Table
                </a>
              </li>
              <li> <a href="table-advance-tables.html">
                  <ion-icon name="ellipse-outline"></ion-icon>Advance Tables
                </a>
              </li>
              <li> <a href="table-datatable.html">
                  <ion-icon name="ellipse-outline"></ion-icon>Data Table
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <!--end navigation-->
      </aside>
      <!--end sidebar -->

