{% load static %}
{% load widget_tweaks %}
    
    
    <aside class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
          <div>
            <img src="assets/images/logo-icon-2.png" class="logo-icon" alt="logo icon">
          </div>
          <div>
            <h4 class="logo-text">QuitoCultura  </h4>
          </div>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
          <li>
            <a href="{% url "account:dashboard" %}">
              <div class="parent-icon">
                <ion-icon name="home-outline"></ion-icon>
              </div>
              <div class="menu-title">Inicio</div>
            </a>
          </li> 
          <li>
          </li>
   {% if request.user.is_staff %}     
          <li class="menu-label">Creación de convocatorias</li>

          <li>
            <a href="javascript:;" class="has-arrow">
              <div class="parent-icon">
                <ion-icon name="add-circle-outline"></ion-icon>
              </div>
              <div class="menu-title">Crear Convocatorias</div>
            </a>
            <ul>
              <li> <a href="{% url "account:detalle_manual_creacion_convocatoria_fomento" %}">
                  <ion-icon name="ellipse-outline"></ion-icon>Editorial y Literaría
                </a>
              </li>

          </li>
            </ul>
          </li>

          <li>
            <a href="javascript:;" class="has-arrow">
              <div class="parent-icon">
                <ion-icon name="create-outline"></ion-icon>
              </div>
              <div class="menu-title">Editar Convocatorias</div>
            </a>
            <ul>
              <li> <a href="{% url "account:detalle_manual_editar_convocatoria_fomento" %}">
                  <ion-icon name="ellipse-outline"></ion-icon>Editorial y Literaría
                </a>
              </li>

       
            </ul>
          </li>
          {% else %}
          {% endif %}  
         

          {% if terminos.agree  %}
          
          <li class="menu-label">Postulación a convocatorias</li>
          <li>
            <a href="javascript:;" class="has-arrow">
              <div class="parent-icon">
                <ion-icon name="megaphone-outline"></ion-icon>
              </div>
              <div class="menu-title">Convocatorias</div>
            </a>
            <ul>
              <li>  <a href="">
                  <ion-icon name="ellipse-outline"></ion-icon>Editorial y Literaría
                </a>
              </li>

          </li>
          
            </ul>

            <li>
              <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                  <ion-icon name="file-tray-full-outline"></ion-icon>
                </div>
                <div class="menu-title">Mis Postulaciones</div>
              </a>
              <ul>
                <li>  <a href="">
                    <ion-icon name="ellipse-outline"></ion-icon>Editorial y Literaría
                  </a>
                </li>
  
            </li>
            
              </ul>

            <li class="menu-label">Proyectos para ser postulados</li>

            <li>
              <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                  <ion-icon name="add-circle-outline"></ion-icon>
                </div>
                <div class="menu-title">Crear Proyecto </div>
              </a>
              <ul>
                <li>  <a href="">
                    <ion-icon name="ellipse-outline"></ion-icon>Editorial y Literaría
                  </a>
                </li>
  
            </li>
            
              </ul>
              <li>
                <a href="javascript:;" class="has-arrow">
                  <div class="parent-icon">
                    <ion-icon name="create-outline"></ion-icon>
                  </div>
                  <div class="menu-title">Editar Proyecto </div>
                </a>
                <ul>
                  <li>  <a href="">
                      <ion-icon name="ellipse-outline"></ion-icon>Editorial y Literaría
                    </a>
                  </li>
    
              </li>
              
                </ul>

                <li>
                  <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon">
                      <ion-icon name="file-tray-full-outline"></ion-icon>
                    </div>
                    <div class="menu-title">Mis Proyectos </div>
                  </a>
                  <ul>
                    <li>  <a href=""">
                        <ion-icon name="ellipse-outline"></ion-icon>Editorial y Literaría
                      </a>
                    </li>
      
                </li>
                
                  </ul>

       
    
        {% else %}
        <li class="menu-label">Inscripción para postular</li>
        <li>
          <a href="{% url "account:detalle_manual" %}">
            <div class="parent-icon">
              <ion-icon name="document-text-outline"></ion-icon>
            </div>
            <div class="menu-title">Inscripción</div>
          </a>
        </li>


        {% endif %}
        
          {% if terminos.agree  %}
          <li class="menu-label">Información de Usuarios</li>
          <li>
            <li>
              <a href="{% url "account:user_profile" %}">
                <div class="parent-icon">
                  <ion-icon name="person-circle-outline"></ion-icon>
                </div>
                <div class="menu-title">Perfil de Usuario</div>
              </a>
            </li>       
          </li>
          {% else %}
          <li>

          </li>
          {% endif %}
          <li class="menu-label">Herramientas</li>
          <li>
            <li>
              <a href="{% url "account:detalle_manual_editar_configuracion" %}">
                <div class="parent-icon">
                  <ion-icon name="settings"></ion-icon>
                </div>
                <div class="menu-title">Configuración</div>
              </a>
            </li>

            <li >
              <a class="nav-link dark-mode-icon" href="javascript:;">
                <div class="mode-icon">
                  <ion-icon name="moon-outline"></ion-icon>
                </div>
                <div class="menu-title">Contraste</div>
              </a>
            </li>
            <li>
              <a href="{% url "logout" %}">
                <div class="parent-icon">
                  <ion-icon name="exit-outline"></ion-icon>
                </div>
                <div class="menu-title">Salir</div>
              </a>
            </li>
          </li>
        </ul>
        <!--end navigation-->
      </aside>
      <!--end sidebar -->

