<footer class="my-5">
    <div class="container">
      <div class="d-flex align-items-center gap-4 fs-5 justify-content-center social-login-footer">
        <a href="javascript:;">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a href="javascript:;">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
        <a href="javascript:;">
          <ion-icon name="logo-github"></ion-icon>
        </a>
        <a href="javascript:;">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
        <a href="javascript:;">
          <ion-icon name="logo-pinterest"></ion-icon>
        </a>
      </div>
      <div class="text-center">
        <p class="my-4">Copyright © 2021 UI Admin by Codervent.</p>
      </div>
    </div>
  </footer>