{% extends "base_dash.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  {% if object %}
   Editar contenido de Base Técnica {{ object.title }}"
  {% else %}
   Agregar Contenido
  {% endif %}
{% endblock %}

{% block content %}

<h6 class="text-uppercase">Actualización de Registro: Perfil de usuario</h6>
<hr>
<div id="stepper1" class="bs-stepper">
<div class="card">
  
  <div class="card-header">
    <div class="d-lg-flex flex-lg-row align-items-lg-center justify-content-lg-between" role="tablist">
      <div class="step" data-target="#test-nl-1">
      <div class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-nl-1">
        <div class="bs-stepper-circle"><i class='bx bx-user fs-4'></i></div>
        <div class="">
          <h5 class="mb-0 steper-title">
            {% if object %}
            Editar contenido de Base Técnica {{ object.title }}"
           {% else %}
            Agregar Contenido
           {% endif %}
          </h5>
          <p class="mb-0 steper-sub-title">a base técnica: {{object.title}} </p>
        </div>
      </div>
      </div>

    </div>
  </div>
  {% if messages %}
  {% for message in message %}
  <div class="alert alert-dismissible fade show py-2 bg-success">
    <div class="d-flex align-items-center">
      <div class="fs-3 text-white"><ion-icon name="checkmark-circle-sharp"></ion-icon>
      </div>
      <div class="ms-3">
        <div class="text-white {{message.tags }}">{{ message|safe }}</div>
      </div>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}

  <div class="card-body">
  <div class="bs-stepper-content">

    <form action="." method="post" enctype="multipart/form-data">
      <div id="test-nl-1" role="tabpanel" aria-labelledby="stepper2trigger1">
        <h5 class="mb-1">Actividades Artísticas</h5>
        <p class="mb-4">Información de actividades artisticas del usuario</p>
        
        <div class="row g-3">
          <div class="col-12 col-lg-6">
           
            {% for field in form.visible_fields %}
            {% if field.name == 'title' %}
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-select is-invalid input" %}
                    {% else %}
                        {% render_field field class="form-select is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-select input" %}
                {% endif %}
            {% endif %}
        {% endfor %}

            {% for field in form.visible_fields %}
            {% if  field.name == 'file' %}
                <p></p>
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid input" %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control input" %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for field in form.visible_fields %}
        {% if  field.name == 'text'  %}
            <p></p>
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
            {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field class="form-control is-invalid input" %}
                {% else %}
                    {% render_field field class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field field class="form-control input" %}
            {% endif %}
        {% endif %}
    {% endfor %}

            {% for field in form.visible_fields %}
            {% if field.name == 'video' %}
                <p></p>
                <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label_tag }}</label>
                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field role="switch" class="form-switch form-check" %}
                    {% else %}
                        {% render_field field role="switch" class="form-switch form-check-input is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field  role="switch" class="form-switch form-check-input  input" %}
                {% endif %}
            {% endif %}
        {% endfor %}   
        
        {% for field in activity_form.visible_fields %}
        {% if field.name == 'image'  %}
            <p></p>
            <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label_tag }}</label>
            {% if activity_form.is_bound %}
                {% if field.errors %}
                    {% render_field field role="switch" class="form-control" %}
                {% else %}
                    {% render_field field role="switch" class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field field  role="switch" class="form-control input" %}
            {% endif %}
        {% endif %}
    {% endfor %} 

    {% for field in form.visible_fields %}
    {% if field.name == 'url'  %}
        <p></p>
        <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label_tag }}</label>
        {% if form.is_bound %}
            {% if field.errors %}
                {% render_field field class="form-control" %}
            {% else %}
                {% render_field field  class="form-control is-valid" %}
            {% endif %}
        {% else %}
            {% render_field field  class="form-control input" %}
        {% endif %}
    {% endif %}
{% endfor %} 


{% for field in form.visible_fields %}
{% if field.name == 'content'  %}
    <p></p>
    <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label_tag }}</label>
    {% if form.is_bound %}
        {% if field.errors %}
            {% render_field field class="form-control" %}
        {% else %}
            {% render_field field  class="form-control is-valid" %}
        {% endif %}
    {% else %}
        {% render_field field  class="form-control input" %}
    {% endif %}
{% endif %}
{% endfor %} 

     
          </div>



          {% csrf_token %}
        
        

      <div class="col-12">
        <div class="d-flex align-items-center gap-3">
          <button class="btn btn-success px-4" onclick="stepper1.next()">Guardar <ion-icon name="save"></ion-icon></button>
        </div>
      </div>
          


        </div>
       
         
          
      </div>
      
      
    </form>
    
   

    
  </div>
 
  </div>
  
 </div>

</div>



  

{% endblock %}