{% extends "base_dash.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}<ion-icon name="reload-circle-outline"></ion-icon> Actualización de Registro{% endblock %}

{% block content %}



<!--end stepper one--> 

      
<!--start stepper two--> 
<h6 class="text-uppercase">Declaratoría</h6>
<hr>
<div id="stepper1" class="bs-stepper">
<div class="card">
  
  <div class="card-header">
    <div class="d-lg-flex flex-lg-row align-items-lg-center justify-content-lg-between" role="tablist">
      <div class="step" data-target="#test-nl-1">
      <div class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-nl-1">
        <div class="bs-stepper-circle"> <ion-icon name="lock-open-outline"></ion-icon></div>
        <div class="">
          <h5 class="mb-0 steper-title">Aprobación de Declaratoria</h5>
          <p class="mb-0 steper-sub-title">Fin de actualización de registro</p>
        </div>
      </div>
      </div>
    </div>
  </div>
 
  <div class="card-body">
  <div class="bs-stepper-content">

    <form action="." method="post" enctype="multipart/form-data">
      <div id="test-nl-1" role="tabpanel" aria-labelledby="stepper2trigger1">
  
        <div class="card radius-10">
          <div class="card-body">
              <h4>Declaración de validación de registro </h4>
              <p>Yo, {{ user.get_full_name }} con número de cédula, CI: {{ user.profile.numero_cedula}} , declaro lo siguiente:</p>
              <p> - El proyecto postulado y quien suscribe no se encuentra inmerso en ninguna de las inhabilidades
                expuestas en las presentes bases de postulación de este concurso.</p>
                <p> - Declaro hacerme responsable por la veracidad de mis declaraciones, que toda la información entregada
                es verdadera y que resulta conforme con la normativa vigente, particularmente con las bases de postulación
                de este concurso, la he leído, entiendo y aceptado.</p>
                <p> Exonerado en cualquier tipo de responsabilidad a la Secretaria de Cultura por información falsa,
                defectuosa o errónea que, dolosa, le haya suministrado.</p>
            

              <div class="row g-3">
                <div class="col-12 col-lg-6">
                 
                {% for field in terms_form.visible_fields %}
                <p></p>
                <label for="user" class="label">{{ field.label_tag }}</label>
                
                {% if terms_form.is_bound %}
                {% if field.errors %}
                {% render_field field class="form-control form-check-input  is-invalid input" %}
                {% else %}
                    {% render_field field class="form-control form-check-input  is-valid " %}
                {% endif %}
                {% else %}
                    {% render_field field class="form-control form-check-input  input" %}
                  {% endif %}
            {% endfor %}
            {% csrf_token %}
            </div>
          </div>
        </div>
        
      
  
        </div>
          <div class="col-12">
            <div class="d-flex align-items-center gap-3">
            <a class="btn btn-outline-secondary px-2" href="{% url "account:edit_activity" %}""><i class='bx bx-left-arrow-alt me-2'></i>Anterior</a>
            <button class="btn btn-warning px-2" type="submit" onclick="stepper1.next()">Firmar<ion-icon name="pencil-outline"></ion-icon></button>
            <a class="btn btn-primary px-2" href="{% url "account:edit_contact" %}" onclick="stepper1.next()"> Finalizar<ion-icon name="exit-outline"></ion-icon></a>
          </div>
          </div>
          
      </div><!---end row-->
    </form>

  </div>
  </div>

 </div>
</div>



<a href="javaScript:;" class="back-to-top"><ion-icon name="arrow-up-outline"></ion-icon></a>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const botonesSiguiente = document.querySelectorAll('[id^="btn-siguiente-"]');
    botonesSiguiente.forEach(btn => {
      btn.addEventListener('click', function() {
        const form = document.getElementById('stepper-form');
        form.submit(); // Enviar el formulario
      });
    });
  });
  </script>

<script>
  function actualizarPagina() {
    location.reload();
  }
  </script>

{% endblock %}