{% extends "base_dash.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}<ion-icon name="reload-circle-outline"></ion-icon> Actualización de Registro{% endblock %}

{% block content %}
    <!--start stepper two--> 
    <h6 class="text-uppercase">Actualización de Registro: Información Domicilio y Contacto</h6>
    <hr>

    <div id="stepper1" class="bs-stepper">
        <div class="card">
            <div class="card-header">
                <div class="d-lg-flex flex-lg-row align-items-lg-center justify-content-lg-between" role="tablist">
                    <div class="step" data-target="#test-nl-1">
                        <div class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-nl-1">
                            <div class="bs-stepper-circle"><i class='bx bx-user fs-4'></i></div>
                            <div class="">
                                <h5 class="mb-0 steper-title">Información Personal</h5>
                                <p class="mb-0 steper-sub-title">Datos de Usuario</p>
                            </div>
                        </div>
                    </div>
                    <div class="bs-stepper-line"></div>
                    <div class="step" data-target="#test-nl-2">
                        <div class="step-trigger" role="tab" id="stepper1trigger2" aria-controls="test-nl-2">
                            <div class="bs-stepper-circle"><i class='bx bxs-contact fs-4'></i></div>
                            <div class="">
                                <h5 class="mb-0 steper-title">Información de Contacto</h5>
                                <p class="mb-0 steper-sub-title">Datos Localidad & Contacto</p>
                            </div>
                        </div>
                    </div>
                    <div class="bs-stepper-line"></div>
                    <!-- Add other steps here -->
                </div>
            </div>

            <div class="card-body">
                <div class="bs-stepper-content">
                    <form action="." method="post" enctype="multipart/form-data" id="stepper-form">  
                        <div id="test-nl-2" role="tabpanel" aria-labelledby="stepper1trigger2">
                            <h5 class="mb-1">Información de Localidad y contacto</h5>
                            <p class="mb-4">Escriba información sobre su Localidad domiciliaria y contacto</p>
                            
                            <div class="row g-3">
                                <div class="col-12 col-lg-6">
                                    <label for="id_provincia" class="form-label">Provincia:</label>
                                    <select class="form-select" id="id_provincia" name="provincia" aria-label="Provincia">
                                        <option value="" selected>---</option>
                                        {% for value, label in contact_form.provincia.field.choices %}
                                            <option value="{{ value }}">{{ label }}</option>
                                        {% endfor %}
                                    </select>

                                    <select class="form-select" id="id_canton_azuay" name="canton_azuay" aria-label="Provincia">
                                      <option value="" selected>---</option>
                                      {% for value, label in contact_form.provincia.field.choices %}
                                          <option value="{{ value }}">{{ label }}</option>
                                      {% endfor %}
                                  </select>

 
                                    <div id="id_canton_azuay" class="canton-parroquia" style="display: none">
                                        <label for="id_canton_azuay" class="form-label">Cantón:</label>
                                        <select class="form-select" id="id_canton_azuay" name="canton_azuay" aria-label="Cantón"></select>
                                        
                                        <label for="id_parroquia_azuay" class="form-label">Parroquia:</label>
                                        <select class="form-select" id="id_parroquia_azuay" name="parroquia_azuay" aria-label="Parroquia"></select>
                                    </div>
                                    
                                    <div id="id_canton_pichincha" class="canton-parroquia" style="display: none">
                                        <label for="id_canton_pichincha" class="form-label">Cantón:</label>
                                        <select class="form-select" id="id_canton_pichincha" name="canton_pichincha" aria-label="Cantón"></select>
                                        
                                        <label for="id_parroquia_pichincha" class="form-label">Parroquia:</label>
                                        <select class="form-select" id="id_parroquia_pichincha" name="parroquia_pichincha" aria-label="Parroquia"></select>
                                    </div>
                                </div>
                            </div>
                            
                            {% csrf_token %}
                            <div class="col-12 ">
                                <div class="d-flex align-items-center gap-2">
                                    <a class="btn btn-outline-secondary px-2" href="{% url "account:edit" %}"><i class='bx bx-left-arrow-alt me-2'></i>Anterior</a>
                                    <button class="btn btn-success px-4" onclick="stepper1.next()">Actualizar <ion-icon name="reload-circle-outline"></ion-icon></button>
                                    <a class="btn btn-primary px-2" href="{% url "account:edit_legal" %}" onclick="stepper1.next()">Siguiente<i class='bx bx-right-arrow-alt ms-2'></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <a href="javascript:;" class="back-to-top"><ion-icon name="arrow-up-outline"></ion-icon></a>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
          // Cuando cambia el valor del campo 'provincia'
          $('#{{ contact_form.provincia.id_for_label }}').change(function() {
              // Obtener el valor seleccionado
              var selectedProvincia = $(this).val();
              
              // Ocultar todos los campos de cantón y parroquia
              $('.canton-parroquia').hide();
              
              // Mostrar los campos de cantón y parroquia correspondientes al valor seleccionado de provincia
              if (selectedProvincia === 'Azuay') {
                  $('#{{ contact_form.canton.id_for_label }}').show();
                  $('#{{ contact_form.parroquia.id_for_label }}').show();
              } else if (selectedProvincia === 'Pichincha') {
                  $('#{{ contact_form.canton1.id_for_label }}').show();
                  $('#{{ contact_form.parroquia1.id_for_label }}').show();
              }
              // Agrega más condiciones para otras provincias si es necesario
          });
      });
    </script>
    
{% endblock %}
