{% extends "base_dash.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}<ion-icon name="reload-circle-outline"></ion-icon> Actualización de Registro{% endblock %}

{% block content %}



<!--end stepper one--> 

      
<!--start stepper two--> 
<h6 class="text-uppercase">Actualización de Registro: Confirmación</h6>
<hr>
<div id="stepper1" class="bs-stepper">
<div class="card">
  
  <div class="card-header">
    <div class="d-lg-flex flex-lg-row align-items-lg-center justify-content-lg-between" role="tablist">
      <div class="step" data-target="#test-nl-1">
      <div class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-nl-1">
        <div class="bs-stepper-circle"><i class='bx bx-user fs-4'></i></div>
        <div class="">
          <h5 class="mb-0 steper-title">Fin de Inscripción</h5>
          <p class="mb-0 steper-sub-title">Su inscripción se realizaó con éxito  </p>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="card-body">
  <div class="bs-stepper-content">
    <div class="card">
        <div class="card-body text-center">
          <h2 class="h4 pb-3"> ¡Gracias por utilizar nuestro sistema de inscripciones para las convocatorias de líneas de fomento y ordenamiento de propuestas para la agenda de la Dirección de Espacio Público!</h2>
          <p class="fs-sm mb-2"> Su participación es fundamental para nosotros. <p>
            <p class="fs-sm mb-2">  Para más información, no dude en contactar a {{ profile_edit_done.nombre_tech }}, nuestra especialista técnica,</p>
            <span class="fw-medium">al número <a href="https://api.whatsapp.com/send?phone={{ profile_edit_done.telefono }} ">{{ profile_edit_done.telefono }}</a>.</span> o por correo electrónico a <a href="mailto:{{ profile_edit_done.email }}"></a>{{ profile_edit_done.email }}</p>
            <p class="fs-sm">Desde este instante, usted se encuentra habilitado para realizar propuestas para actividades culturales y a su vez, para postularse a las distintas convacatorias de las líneas de fomento cultural, que tiene la secretaria de cultura habilitadas para usted.</p>
     
          <a class="btn btn-primary mt-3" href="{% url "account:dashboard" %}">Ir a inicio</a>
          <a class="btn btn-white mt-3" href="{% url "account:user_profile" %}"><i class="bx bx-user"></i>Ver mi perfil de usuario</a>
        </div>
      </div>
 

  </div>
  </div>

 </div>
</div>



<a href="javaScript:;" class="back-to-top"><ion-icon name="arrow-up-outline"></ion-icon></a>



{% endblock %}