<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
      <div>
        <img src="assets/images/logo-icon-2.png" class="logo-icon" alt="logo icon">
      </div>
      <div>
        <h4 class="logo-text">QuitoCultura</h4>
      </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
      <li>
        <a href="{% url 'usuarios:dashboard' %}">
          <div class="parent-icon">
            <ion-icon name="home-outline"></ion-icon>
          </div>
          <div class="menu-title">Inicio</div>
        </a>
      </li>
      <li>
      <li class="menu-label">Convocatorias Editorial & Literaria</li>
      <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon">
            <ion-icon name="add-circle-outline"></ion-icon>
          </div>
          <div class="menu-title">Crear Convocatoria</div>
        </a>
        <ul>
          <li> <a href="widgets-static-widgets.html">
              <ion-icon name="ellipse-outline"></ion-icon>Editorial & Literaria
            </a>
          </li>

        </ul>
      </li>

      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <ion-icon name="create-outline"></ion-icon>
          </div>
          <div class="menu-title">Editar convocatorias</div>
        </a>
        <ul>
          <li> <a href="component-alerts.html">
              <ion-icon name="ellipse-outline"></ion-icon>Editorial & Literaria
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <ion-icon name="list-outline"></ion-icon>
          </div>
          <div class="menu-title">Mis Convocatorias</div>
        </a>
        <ul>
          <li> <a href="icons-line-icons.html">
              <ion-icon name="ellipse-outline"></ion-icon>Editorial & Literaria
            </a>
          </li>

        </ul>
      </li>
      <li class="menu-label">Convocatorias</li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <ion-icon name="newspaper-outline"></ion-icon>
          </div>
          <div class="menu-title">Ver Convocatorias</div>
        </a>
        <ul>
          <li> <a href="form-elements.html">
              <ion-icon name="ellipse-outline"></ion-icon>Form Elements
            </a>
          </li>
    
        </ul>
      </li>
      <li>
        <a class="has-arrow" href="javascript:;">
          <div class="parent-icon">
            <ion-icon name="server-outline"></ion-icon>
          </div>
          <div class="menu-title">Tables</div>
        </a>
        <ul>
          <li> <a href="table-basic-table.html">
              <ion-icon name="ellipse-outline"></ion-icon>Basic Table
            </a>
          </li>
          <li> <a href="table-advance-tables.html">
              <ion-icon name="ellipse-outline"></ion-icon>Advance Tables
            </a>
          </li>
          <li> <a href="table-datatable.html">
              <ion-icon name="ellipse-outline"></ion-icon>Data Table
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-label">Configuraciones</li>
    

      <li>
        <a href="{% url 'usuarios:perfil' %}">
          <div class="parent-icon">
            <ion-icon name="document-text-outline"></ion-icon>
          </div>
          <div class="menu-title">Perfil de usuario</div>
        </a>
      </li>

      <li>
        <a class="nav-link dark-mode-icon" href="javascript:;">
          <div class="mode-icon">
            <ion-icon name="moon-outline"></ion-icon>
          </div>
          <div class="menu-title">Contraste</div>
        </a>
      </li>


    

      <li>
        <a href="{% url 'logout' %}">
          <div class="parent-icon">
            <ion-icon name="exit-outline"></ion-icon>
          </div>
          <div class="menu-title">Salir</div>
        </a>
      </li>
    </ul>
    <!--end navigation-->
  </aside>