{% extends "base_dash.html" %}


{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
    <h1>
      {{ announ.title }}  {{ base.title }}ss
    </h1>
    <div class="contents">
        <h3>Modules  asadas</h3>
        <ul id="modules">
        {% for m in object.bases.all %}
        {{ m.id }}
            <li data-id="{{ m.id }}" {% if m == base %}class="selected"{% endif %}>
                <a href="{% url "student_course_detail_module" object.id m.id %}">
                    <span>
                        <span class="order">{{ m.order|add:1 }}</span>
                    </span>
                    <br>
                    {{ m.title }}
                </a>
            </li>
        {% empty %}
            <li>No modules yet.</li>
        {% endfor %}
        </ul>
    </div>
    <div class="module">
            {% for contenido in base.contenidos.all %}
                {% with item=contenido.item %}
                    <h2>{{ item.title }}</h2>
                    {{ item.render }}
                {% endwith %}
            {% endfor %}
    </div>

{% endblock %}