{% extends "base_log.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Cambio de contraseña{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xl-4 col-lg-5 col-md-7 mx-auto mt-5">
    <div class="card radius-10">
      <div class="card-body p-4">
        <div class="text-center">
          <h1>Cambio de contraseña</h1>
          <p>Utilize el siguiente formulario para realizar el cambio de su contraseña.</p>      
        </div>
  
      </div>
    </div>
  </div>
</div>

 
  <form action="." method="post">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
      </div>
    {% endif %}

    {% for field in form.visible_fields %}
      <div class="form-group">
      <div class="group">
      <label for="user" class="label">{{ field.label_tag }}</label>


      {% if form.is_bound %}
        {% if field.errors %}
        <p>Su nombre de usuario y contraseña no coinciden. Porfavor intente de nuevo.</p>
        {% render_field field class="form-control is-invalid input" %}
        {% for error in field.errors %}
          <div class="invalid-feedback">
          {{ error }}
          </div>
        {% endfor %}
        {% else %}
        <p>Porfavor, complete el siguiente formulario:</p>
        {% render_field field class="form-control is-valid " %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control input" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
      </div>
    {% endfor %}
    <div class="col-12 col-lg-12">
      <div class="d-grid">
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" value="Change" class="btn btn-primary">Cambiar</button>
      </div>
    </div>
  </form>
{% endblock %}