{% extends "base_log.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Password changed{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl-4 col-lg-5 col-md-7 mx-auto mt-5">
    <div class="card radius-10">
      <div class="card-body p-4">
        <div class="text-center">
          <h1>Su Contraseña ha sido modificada</h1>
          <p>Su contraseña fue modificada con exito.</p>      
        </div>
  
      </div>
    </div>
  </div>
</div>
  
{% endblock %}