{% extends "base_log.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Restaurar contraseña{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl-4 col-lg-5 col-md-7 mx-auto mt-5">
    <div class="card radius-10">
      <div class="card-body p-4">
        <div class="text-center">
          <h1>Restaurar contraseña</h1>
  <p> hemos enviado un correo electrónico con las instrucciones para restaurar su contraseña.</p>
  <p>Si no ha recibido el correo electrónico, porfavor asegurese que ha registrado correctamente su dirección de correo electrónico.</p>     
        </div>
  
      </div>
    </div>
  </div>
</div>
  
{% endblock %}