
{% load static %}
{% load widget_tweaks %}

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white p-3">
      <div class="container-fluid">
        <a href="javascript:;"><img src="{% static 'assets/images/icons/quitocultura.png' %}" width="110px" alt="" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-3 login-menu-2">
            <li class="nav-item">
              <a class="nav-link" href="javascript:;">Quito Cultura</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:;">Términos y condiciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:;">Políticas de privacidad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:;">Bases generales para convocatorias</a>
            </li>
          
          </ul>
          <form class="d-flex">
            <a href="javascript:;" class="btn btn-sm btn-primary px-4 radius-30">Registrarse</a>
          </form>
        </div>
      </div>
    </nav>
  </header>