{% extends "base_dash.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}<ion-icon name="document-text-outline"></ion-icon> Inscripción para convoactorias y levantamiento de actividades culturales {% endblock %}

{% block content %}


<div class="demo-seprater">
  <h6 class="mb-0 text-uppercase">Cards With Images</h6>
  <div class="my-3 border-bottom"></div>
</div>

<div class="row row-cols-1 row-cols-lg-3">
   <div class="col">
    <div class="card">
      <img src="assets/images/cards/01.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="component-cards.html#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
   </div>
   <div class="col">
    <div class="card">
      <img src="assets/images/cards/02.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="component-cards.html#" class="btn btn-danger">Go somewhere</a>
      </div>
    </div>
   </div>
   <div class="col">
    <div class="card">
      <img src="assets/images/cards/03.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="component-cards.html#" class="btn btn-success">Go somewhere</a>
      </div>
    </div>
   </div>
</div><!--end row-->



{% endblock %}

