{% extends "base_dash.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}<ion-icon name="document-text-outline"></ion-icon> Inscripción para convoactorias y levantamiento de actividades culturales {% endblock %}

{% block content %}


<div class="card radius-10">
    <div class="card-body">
        <h4>Inscripción para acceder a postulaciones a convacatorias de las líneas de fomento  y levantamiento de propuestas culturales en la ciudad de Quito. </h4>
        <p>
            {{ manual.introduccion | safe }}
        </p>
        <h4>Sobre el proceso de inscripción</h4>
        <p>{{ manual.paso1 | safe }}.</p>
        <h4>¿ Como llenar el formulario de perfil de usuario?</h4>
        <p>{{ manual.paso2 | safe }}</p>
        <h4>¿ Como llenar el formulario de contactos del usuario?</h4>
        <p>{{ manual.paso3 | safe }}</p>
        <h4>¿ Como llenar el formulario de estatus legal de usuario ?</h4>
        <p>{{ manual.paso4 | safe }}</p>
        <h4>¿ Como llenar el formulario de actividades culturales del usuario?</h4>
        <p>{{ manual.paso5 | safe }}</p>
        <h4>¿ Que significa la Declaratoria de verificación de la información ?</h4>
        <div class="col">
            <button type="button"  href="{% url "manage_course_list" %}" class="btn btn-dark px-5"><ion-icon name="copy"></ion-icon>Iniciar proceso de Inscripción</button>
          </div>
    </div>
  </div>


{% endblock %}

