{% extends "base_dash.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<ion-icon name="trash-outline"></ion-icon> Eliminar convocatoria: "{{ object.title }}, creado: {{ object.created }} "
{% endblock %}

{% block content %}

<h6 class="text-uppercase">Eliminar convocatorias para la línea de fomento Editorial & Literaria</h6>
<hr>
<div id="stepper1" class="bs-stepper">
<div class="card">

<div class="card-header">
  <div class="d-lg-flex flex-lg-row align-items-lg-center justify-content-lg-between" role="tablist">
    <div class="step" data-target="#test-l-1">
      <div class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-l-1">
      <div class="bs-stepper-circle"><ion-icon name="trash-outline"></ion-icon></div>
      <div class="">
        <h5 class="mb-0 steper-title">Eliminar convocatoria</h5>
        <p class="mb-0 steper-sub-title">Editorial & literaria</p>
      </div>
      </div>
    </div>

    </div>
</div>
  <div class="card-body">

  <div class="bs-stepper-content">
  <form action="." method="post" enctype="multipart/form-data">
    <div id="test-l-1" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper1trigger1">
    <h5 class="mb-1">Eliminar: Convocatoria línea de fomento editorial & literaria</h5>
    <p class="mb-4">¿ Desea eliminar la siguiente convocatoria ? </p>

    <div class="row g-3">
       

        <div class="col-12 col-lg-6">

 
              <div class="card">
                {% if object.portada %}
                <img src="{{ object.portada.url }}" class="card-img-top" alt="...">
                {% else %}
                <img src="{% static 'assets/images/icons/no-image-icon-md.png' %}" alt="Image" style="width: 300px; border-radius: 50%;">
                {% endif %}
                <div class="card-body border-bottom">
                  <p>Fecha de última Actualización: {{ object.created |date:'Y-m-d' }}</p>
                  <h5 class="card-title">{{ object.title }}</h5>
                  <p class="card-text">{{ object.overview }}</p>
                  <p>Creado por: {{ object.owner }}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li style="color:rgb(46, 46, 122)" class="list-group-item"><ion-icon name="clipboard-outline"></ion-icon> Línea de fomento: {{ object.categoria }}</li>
                  <li class="list-group-item"><ion-icon name="calendar-outline"></ion-icon> Fecha de creación: {{  object.created }}</li>
                  <li class="list-group-item"><ion-icon name="calendar-outline"></ion-icon> Fecha de Inicio de convocatoria:<p>{{  object.fecha_inicio }}</p> </li>
                  <li class="list-group-item"><ion-icon name="calendar-outline"></ion-icon> Fecha de vencimiento de convocatoria: <p>{{  object.fecha_vencimiento }}</p></li>
                  <li class="list-group-item">
                    <ion-icon name="hourglass-outline"></ion-icon> Tiempo restante para su desactivación: {{  object.dias_diferencia }} Días.
                  </li>
                  <li class="list-group-item">
                    <ion-icon name="hourglass-outline"></ion-icon> Tiempo restante para su activación: {{  object.dias_diferencia_activacion }} Días.
                  </li>
                  <li class="list-group-item">
                    {% if  object.actividad == True %}
                    Activo
                    <div class="form-check-danger form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDanger" checked >
                    </div>
                    {% else %}
                    Inactivo
                   <div class="form-check-danger form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDanger"  >
                  </div>
                    {% endif %}
                    
                  </li>
                  <li class="list-group-item"><ion-icon name="people-circle-outline"></ion-icon> Postulantes activos: {{ object.numero }}</li>
                </ul>
              </div>
            </div>
          </div>
   

   
        </div>

        {% csrf_token %}
      


    <div class="col-12">
      <div class="d-flex align-items-center gap-3">
        <button class="btn btn-danger px-4" type="submit"  onclick="stepper1.next()">Eliminar <ion-icon name="trash-outline"></ion-icon></button>
      </div>
    </div>
        


      </div>
    
    </div>

 
  </form>
  </div>
   
</div>
 
<!--start stepper two--> 




<a href="javaScript:;" class="back-to-top"><ion-icon name="arrow-up-outline"></ion-icon></a>


{% endblock %}


