{% extends "base_dash.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  {% if object %}
  <ion-icon name="create-outline"></ion-icon> Editar convocatoria "{{ object.title }}"
  {% else %}
  <ion-icon name="add-circle-outline"></ion-icon> Nueva convocatoria
  {% endif %}
{% endblock %}

{% block content %}

<h6 class="text-uppercase">Creación de convocatorias para la línea de fomento Editorial & Literaria</h6>
<hr>
<div id="stepper1" class="bs-stepper">
<div class="card">

<div class="card-header">
  <div class="d-lg-flex flex-lg-row align-items-lg-center justify-content-lg-between" role="tablist">
    <div class="step" data-target="#test-l-1">
      <div class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-l-1">
      <div class="bs-stepper-circle"><ion-icon name="add-outline"></ion-icon></div>
      <div class="">
        <h5 class="mb-0 steper-title">Nueva convocatoria</h5>
        <p class="mb-0 steper-sub-title">Editorial & literaria</p>
      </div>
      </div>
    </div>

    </div>
</div>
  <div class="card-body">

  <div class="bs-stepper-content">
  <form action="." method="post" enctype="multipart/form-data">
    <div id="test-l-1" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper1trigger1">
    <h5 class="mb-1">Información General: Convocatoria línea de fomento editorial & literaria</h5>
    <p class="mb-4">Escribir la información general de convocatotria </p>

    <div class="row g-3">
       

        <div class="col-12 col-lg-6">
            {% for field in form.visible_fields %}
            {% if  field.name == 'categoria' %}
                <p></p>
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid input" %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control input" %}
                {% endif %}
            {% endif %}
        {% endfor %}
  
        {% for field in form.visible_fields %}
        {% if  field.name == 'title'  %}
            <p></p>
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
            {% if activity_form.is_bound %}
                {% if field.errors %}
                    {% render_field field class="form-control is-invalid input" %}
                {% else %}
                    {% render_field field class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field field class="form-control input" %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% for field in form.visible_fields %}
    {% if  field.name == 'slug'  %}
        <p></p>
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
        {% if activity_form.is_bound %}
            {% if field.errors %}
                {% render_field field class="form-control is-invalid input" %}
            {% else %}
                {% render_field field class="form-control is-valid" %}
            {% endif %}
        {% else %}
            {% render_field field class="form-control input" %}
        {% endif %}
    {% endif %}
{% endfor %}

    {% for field in form.visible_fields %}
{% if  field.name == 'overview'  %}
    <p></p>
    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
    {% if form.is_bound %}
        {% if field.errors %}
            {% render_field field class="form-control is-invalid input" %}
        {% else %}
            {% render_field field class="form-control is-valid" %}
        {% endif %}
    {% else %}
        {% render_field field class="form-control input" %}
    {% endif %}
{% endif %}
{% endfor %}
        </div>

        <div class="col-12 col-lg-6">
            {% if form.instance.portada %}
            <img src="{{ form.instance.portada.url }}" alt="Image" style="width: 150px; border-radius: 25%;">
            {% else %}
            <img src="{% static 'assets/images/icons/no-image-icon-md.png' %}" alt="Image" style="width: 150px; border-radius: 25%;">
            {% endif %}
  
            {% if user_form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {% for error in user_form.non_field_errors %}
              {{ error }}
            {% endfor %}
            </div>
          {% endif %}
          <p></p>
         
          {% for field in form.visible_fields %}
          {% if field.name == 'portada' %}
          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
              {% if form.is_bound %}
                  {% if field.errors %}
                      {% render_field field class="form-select is-invalid input" %}
                  {% else %}
                      {% render_field field class="form-select is-valid" %}
                  {% endif %}
              {% else %}
                  {% render_field field class="form-select input" %}
              {% endif %}
          {% endif %}
      {% endfor %}

          

          {% for field in form.visible_fields %}
          {% if field.name == 'actividad' %}
              <p></p>
              <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label_tag }}</label>
              {% if form.is_bound %}
                  {% if field.errors %}
                      {% render_field field role="switch" class="form-switch form-check" %}
                  {% else %}
                      {% render_field field role="switch" class="form-switch form-check-input is-valid" %}
                  {% endif %}
              {% else %}
                  {% render_field field  role="switch" class="form-switch form-check-input  input" %}
              {% endif %}
          {% endif %}
      {% endfor %}   
      
      {% for field in form.visible_fields %}
      {% if  field.name == 'fecha_inicio' %}
          <p></p>
          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
          {% if form.is_bound %}
              {% if field.errors %}
                  {% render_field field class="form-control type="datetime-local" is-invalid input" %}
              {% else %}
                  {% render_field field class="form-control type="datetime-local" is-valid" %}
              {% endif %}
          {% else %}
              {% render_field field class="form-control type="datetime-local" input" %}
          {% endif %}
      {% endif %}
  {% endfor %}

  {% for field in form.visible_fields %}
  {% if  field.name == 'fecha_vencimiento' %}
  <p></p>
  <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
  {% if form.is_bound %}
      {% if field.errors %}
          {% render_field field class="form-control type="datetime-local" is-invalid input" %}
      {% else %}
          {% render_field field class="form-control type="datetime-local" is-valid" %}
      {% endif %}
  {% else %}
      {% render_field field class="form-control type="datetime-local" input" %}
  {% endif %}
{% endif %}
{% endfor %}



   
        </div>

        {% csrf_token %}
      


    <div class="col-12">
      <div class="d-flex align-items-center gap-3">
        <button class="btn btn-success px-4" type="submit"  onclick="stepper1.next()">Guardar <ion-icon name="save"></ion-icon></button>
      </div>
    </div>
        


      </div>
    
    </div>

 
  </form>
  </div>
   
</div>
 </div>
</div>  
<!--start stepper two--> 




<a href="javaScript:;" class="back-to-top"><ion-icon name="arrow-up-outline"></ion-icon></a>


{% endblock %}