{% extends "base_dash.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col col-lg-12 mx-auto">
      <h6 class="mb-0 text-uppercase">Sistema de postulación de la secretaria de cultura del distrito metropolitano de quito.</h6>
      <hr/>
      <div class="card">
                      <div class="card-body">
                          <ul class="nav nav-tabs nav-primary" role="tablist">
                              <li class="nav-item" role="presentation">
                                  <a class="nav-link active" data-bs-toggle="tab" href="component-navs-tabs.html#primaryhome" role="tab" aria-selected="true">
                                      <div class="d-flex align-items-center">
                                          <div class="tab-icon"><ion-icon name="home-sharp" class="me-1"></ion-icon>
                                          </div>
                                          
                                          <div class="tab-title">Postulación: {{ object.title }} </div>
                                     
                                      </div>
                                  </a>
                              </li>
                              <li class="nav-item" role="presentation">
                                  <a class="nav-link" data-bs-toggle="tab" href="component-navs-tabs.html#primaryprofile" role="tab" aria-selected="false">
                                      <div class="d-flex align-items-center">
                                          <div class="tab-icon"><ion-icon name="person-sharp" class="me-1"></ion-icon>
                                          </div>
                                          <div class="tab-title">Profile</div>
                                      </div>
                                  </a>
                              </li>
                          </ul>
                          <div class="tab-content py-3">
                              <div class="tab-pane fade show active" id="primaryhome" role="tabpanel">
              <img src="{% static 'assets/images/carousel/08.jpg' %}" alt="" class="radius-10 mb-3 img-fluid">
                                  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi.</p>
                              </div>
                              <div class="tab-pane fade" id="primaryprofile" role="tabpanel">
              <img src="assets/images/carousel/07.jpg" alt="" class="radius-10 mb-3 img-fluid">
                                  <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                              </div>
                              <div class="tab-pane fade" id="primarycontact" role="tabpanel">
              <img src="assets/images/carousel/09.jpg" alt="" class="radius-10 mb-3 img-fluid">
                                  <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                              </div>
                          </div>
                      </div>
                  </div>      
    </div>
  </div>

   

        <h1>
            {{ object.title }}
            {{ object.categoria }}
            {{ object.fomento }}
            {{ object.owner.get_full_name }}
        </h1>
        <div class="module">
            <h2>Overview</h2>
            <p>
                {% with categoria=announ.categoria %}
                <a href="{% url 'announ:announ_list_categoria' categoria.slug %}">{{ categoria.title }}</a>
                {{ announ.bases.count }} bases.
                Instructor: {{ announ.owner.get_full_name }}
                {% endwith %}
         
           
            
                {{ announ.bases.count }} bases.
                Instructor: {{ announ.owner.get_full_name }}
            </p>
            {{ object.overview|linebreaks }}
            {% if request.user.is_authenticated %}
                <form action="{% url "announ:postulante_enroll_announ" %}" method="post">
                    {{ enroll_form }}
                    {% csrf_token %}
                    <input type="submit" class="button" value="Enroll now">
                </form>
            {% else %}
                <a href="#" class="button">
                    Register to enroll
                </a>
            {% endif %}
            {% for c in categorias %}
            {{ c.title }}
            {% endfor %}
        </div>


        <div class="contents">
            <h3>Subjects</h3>
            <ul id="modules">
                <li {% if not subject %}class="selected"{% endif %}>
                    <a href="{% url "announ_list" %}">All</a>
                </li>
                {% for c in categorias %}
                    <li {% if categoria == c %}class="selected"{% endif %}>
                        <a href="{% url "announ:announ_list_categoria" c.slug %}">
                            {{ c.title }}
                            <br><span>{{ c.total_courses }} announces </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
          </div>
          <div class="module">
            {% for announ in announces %}
                {% with categoria=announ.categoria %}
                    <h3><a href="{% url "announ: announ_detail" announ.slug %}">{{ announ.title }}</a></h3>
                    <p>
                        <a href="{% url "announ: announ_list_categoria" categoria.slug %}">{{ categoria }}</a>.
                        {{ announ.total_bases }} Bases ténicas.
                        Instructor: {{ announ.owner.get_full_name }}
                    </p>
                {% endwith %}
            {% endfor %}
          </div>
      
   

{% endblock %}