{% extends "base_dash.html" %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
    {% with categoria=announ.categoria %}

        <h1>
            {{ object.title }}
            {{ object.categoria }}
            {{ object.fomento }}
            {{ object.owner.get_full_name }}
        </h1>
        <div class="module">
            <h2>Overview</h2>
            <p>
                {% if categoria %}
                <a href="{% url 'announ_list_categoria' categoria.slug %}">{{ categoria.title }}</a>
            {% else %}
                <!-- Manejo alternativo si categoria es None o vacío -->
                Sin Categoría
            {% endif %}
                {{ announ.bases.count }} bases.
                Instructor: {{ announ.owner.get_full_name }}
            </p>
            {{ object.overview|linebreaks }}
            {% if request.user.is_authenticated %}
                <form action="{% url "announ:postulante_enroll_announ" %}" method="post">
                    {{ enroll_form }}
                    {% csrf_token %}
                    <input type="submit" class="button" value="Enroll now">
                </form>
            {% else %}
                <a href="#" class="button">
                    Register to enroll
                </a>
            {% endif %}
        </div>
      
    {% endwith %}

    
{% endblock %}