{% extends "base_dash_post.html" %}

{% block title %}

{% if categoria %}
       CONVOCATORÍA EN LA CATEGORíA DE {{ categoria.title }} 
    {% else %}
       Convocatorias abiertas para línea de fomento: Editorial & literaria
    {% endif %}

{% endblock %}


  
{% block content %}



  <div class="card">
    <div class="card-header">
      <h6 class="mb-0">Selecione la categoría de convocatoria para la línea de fomento Editorial & literaria, a la que desea postularse.</h6>
    </div> 

    <div class="card-body">
        <select id="categoriaSelect" class="form-select mb-3" aria-label="Default select example">
          <option selected disabled>Categorías</option>
          {% for s in categorias %}
            <option value="{% url 'announ:announ_list_categoria' s.slug %}">{{ s.title }}, ({{ s.total_announces }})</option>
          {% endfor %}  
         <option {% if categoria == s %}class="selected"{% endif %}  value="{% url "announ_list" %}"> ver en todas catgorías</option>
        </select>
      </div>

  <!--end breadcrumb-->
  <div class="card-body">
<div class="demo-seprater">
    <h6 class="mb-0 text-uppercase">
        {% if categoria %}
     Convocatorias disponibles en la categoría, {{ categoria.title }} 
    {% else %}
     Convocatorias disponibles en todas las categorias
    {% endif %}
    </h6>
    <div class="my-3 border-bottom"></div>
  </div>

  <div class="row row-cols-1 row-cols-lg-3">
    {% for announ in announces %}
    {% with categoria=announ.categoria %}
     <div class="col">
      <div class="card">
        {% if announ.portada %}
    <img src="{{ announ.portada.url }}" class="card-img-top" alt="...">
         {% else %}
      <p>No hay imagen disponible.</p>
     {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ announ.title }}</h5>
          <h6 class="card-title"> Línea de fomento: {{ announ.fomento }}</h6>
          <h6 class="card-title"> Categoría: {{ announ.categoria }}</h6>
          <p class="card-text"> Número de bases técnicas: {{ announ.total_bases }}</p>
          <p class="card-text">{{ announ.overview }}</p>
          <p class="card-text">Técnico a cargo de la convocatoria: {{ announ.owner.get_full_name  }}</p>
          <p class="card-text" style="color:rgb(81, 78, 81)"> Fecha de vencimiento: {{ announ.fecha_vencimiento |date:"D, d M Y"  }}</p>
          <p class="card-text" style="color:rgb(81, 78, 81)"> Activo desde: {{ announ.fecha_inicio |date:"D, d M Y"  }}</p>
          <a href="{% url "announ:announ_detail" announ.slug %}" class="btn btn-primary">Postularse</a>
        </div>
      </div>
     </div>
     {% endwith %}
     {% endfor %}
  </div><!--end row-->
</div>





<script>
    document.getElementById('categoriaSelect').addEventListener('change', function() {
      var selectedOption = this.options[this.selectedIndex];
      if (selectedOption.value !== "") {
        window.location.href = selectedOption.value;
      }
    });
  </script>


{% endblock %}