{% extends "base_dash.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  Base legal {{ base.order|add:1 }}: {{ base.title }}
{% endblock %}

{% block content %}
  {% with announ=base.announ %}
    <h1>Convocatoria "{{ announ.title }}"</h1>
    <div class="contents">
      <h3>Bases legales</h3>
      <ul id="modules">
        {% for m in announ.bases.all %}
          <li data-id="{{ m.id }}" {% if m == base %}class="selected"{% endif %}>
            <a href="{% url "announ:base_contenido_list" m.id %}">
              <span>
                Módulo <span class="order">{{ m.order|add:1 }}</span>
              </span>
              <br>
              {{ m.title }}
            </a>
          </li>
        {% empty %}
          <li>No ha escrito una base legal todavía.</li>
        {% endfor %}
      </ul>
      <p><a href="{% url "announ:announ_base_update" base.id %}">Editar Bases de convocatoria</a></p>
    </div>
    <div class="module">
      <h2>Bases {{ base.order|add:1 }}: {{ base.title }}</h2>
      <h3>Base de contenidos:</h3>

      <div id="module-contents">
        {% for content in base.contenidos.all %}
          <div data-id="{{ content.id }}">
            {% with item=content.item %}
              <p>{{ item }} ({{ item|model_name }})</p>
              <a href="{% url "announ:base_contenido_update" base.id item|model_name item.id %}">Editar</a>
              <form action="{% url "announ:base_contenido_delete" base.id %}" method="post">
                <input type="submit" value="Eliminar">
                {% csrf_token %}
              </form>
            {% endwith %}
          </div>
        {% empty %}
          <p>Este módulo aún no tiene contenidos.</p>
        {% endfor %}
      </div>
      <h3>Agregar nuevo contenido:</h3>
      <ul class="content-types">
        <li><a href="{% url "announ:base_contenido_create" base.id "text" %}">Texto</a></li>
        <li><a href="{% url "announ:base_contenido_create" base.id "image" %}">Imagen</a></li>
        <li><a href="{% url "announ:base_contenido_create" base.id "video" %}">Video</a></li>
        <li><a href="{% url "announ:base_contenido_create" base.id "file" %}">Archivo</a></li>
      </ul>
    </div>
  {% endwith %}
{% endblock %}

{% block domready %}
{% endblock %}